@charset "UTF-8";
/* CSS Document */

.ovelay-container{
	position:absolute;
	width:100%;
	height:100%;
	z-index:999;
	background:rgba(0,0,0,0.4);
	top:0;
	left:0;
}
.nav-bottm{
	position:absolute;
	bottom:15%;
	left:50%;
	margin-left:-453px;
	width:auto;
	height:auto;
	z-index:99999;
}
.nav-bottm li{
	list-style:none;
	display:inline-block;
	padding:10px 57px;
	border:2px solid #fff;
	color:#fff;
	margin-left:-4px;
	font-weight:bold;
	transition: 0.2s ease-in-out;
	cursor:pointer;
}
.actived, .nav-bottm li:hover{
	background:#fff;
	color:#000 !important;
}
.hactived{
	border:2px solid #000 !important;
	color:#000 !important;
	background:#fff;
}
.about-us{
	position:absolute;
	width:100%;
	margin:0 auto;
	top:0;
	left:0;
	height:0;
	background:url('../images/bginside.jpg') repeat-x top left;
	z-index:9999;
	overflow:hidden;
	
	transition:0.3s linear;
}
.close-bounce{
	position:absolute;
	right:50px;
	top:50px;
	cursor:pointer;
	z-index:999999;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}
.close-bounce:hover{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}
.bouncedown{
	height:100%;
}
.bok{
	width:40%;
	margin:0 auto;
}
.inside div{
	background:#911d0c !important;
}
.owl-dot{
	width:10px;
	height:10px;
	border-radius:50%;
	background:#fff;
	border:1px solid #911d0c;
	display:inline-block;
	margin:5px;
}
.owl-dots{
	position:relative;
	left:50%;
	margin-left:-100px;
	display:inline-block;
}
.overlay-right, .overlay-left{
	position:absolute;
	top:0;
	width:150px;
	height:300px;
	background:rgba(255,255,255,0.5);
	margin-top:15%;
	z-index:99;
}
.overlay-right{
	right:0;
}
.overlay-left{
	left:0;
}
.owl-nav{
	position:absolute;
	top:50%;
	width:100%;
	z-index:999999;
}
.owl-prev{
	left:10px;
}
.owl-next{
	right:10px;
}
.owl-dots .active{
	background:#911d0c;
}
.booking-sec{
	width:100%;
	margin:0 auto;
	height:auto;
	overflow:hidden;
}
.head-sec-ajax{
	font-size:34px;
	font-weight:300;
}
.main-sec-container{
	margin-top:10%;
}
.borderme{
	padding-bottom:20px;
	border-bottom:1px solid #901d18;
}
.main-cont-map{
	width:100%;
	position:absolute;
	height:100%;
	background:url('../images/map.jpg') no-repeat center bottom;
}
.indieit{
	width:30%;
	margin:auto;
	padding:30px;
}
.content-area{
	height:300px;
	overflow-y:scroll;
	overflow-x:hidden;
	position:relative;
	width:100%;
	margin-top:20px;
}
.lognd{
	width:650px;
	position:relative;
	z-index:999;
	margin:0 auto;
	color:#fff;
	margin-top:7%;
}
.welcome{
	text-transform:uppercase;
}
.welcome.text-center span{
	font-size:45px;
}
.reserve{
	margin-top:50px;
}
.nav-left {
	margin-top:130px;
}
.nav-left ul li{
	list-style:none;
	border:1px solid #ccc;
	border-bottom:0px;
	padding:10px 10px;
	cursor:pointer;
	transition:0.2s linear;
}
.nav-left ul li:hover{
	background:#b42019;
	color:#fff;
}
.nav-left ul li:last-child{
	border-bottom:1px solid #ccc;
}
.slider-inside{
	width:100%;
	height:auto;
	overflow:hidden;
}
.slider-inside .owl-dot{
	display:none;
}
.slider-inside .owl-nav{
	display:inline;
}
.owl-prev, .owl-next{
	display:inline-block;
	position:absolute;
}
.slider-inside .owl-prev>i, .slider-inside .owl-next>i{
	font-size:30px;
	font-weight:bold;
	color:#fff;
}
.head-down-slide{
	width:100%;
	height:80px;
	border:1px solid #ccc;
	padding:5px 10px;
}
.head-down-slide h4{
	margin-bottom:5px;
}
.head-down-slide i{
	margin-right:5px;
}
.specs-inside{
	font-size:18px;
	font-weight:500;
}
.spec-desc{
	margin-top:20px;
}
.spec-desc p{
	line-height:16px;
	margin-bottom:10px;
}
.load_here{
	position:absolute;
	width:100%;
	height:100%;
}
.load-contents{
	position:absolute;
	width:100%;
	height:100%;
	overflow-y:scroll;
}
.head-check{
	font-size:18px;
	font-weight:400;
	margin-bottom:10px;
}
.sub-tag{
	font-size:16px;
	text-transform: capitalize;
	font-family: 'Courgette', cursive;
}
.booking-sec-fields{
	padding:15px;
}
.checking{
	margin-top:27px;
	width:100%;
}
.modal-dialog{
	z-index:9999;
}
.availablity-slide{
	width:100%;
	height:auto;
	display:none;
	border:1px solid #ccc;
	padding:10px;
}
.fac-head{
	font-size:14px;
	font-weight:500;
}
.less-padding-l{
	padding-left:5px;
}
.less-padding-r{
	padding-right:5px;
}
.desc-available{
	font-size:13px;
}
.items-available{
	padding:10px;
	border-bottom:1px solid #ccc;
	color:#000 !important;
}
.head-down-slide > p{
	font-size:13px;
}
.offer{
	color:#b42019;
}
.price-reserve{
}
.amminities{
	margin-top:30px;
	width:100%;
}
.border-meh{
	border:1px solid #ccc;
}
.check{
	width:100%;
	height:100px;
}
.reserveme a{
	padding:10px 10px;
	background:#cd5c57;
	color:#fff;
	text-align:center;
	margin-top:15px;
	display:inline-block;
	text-decoration:none;
}
.box-specs{
	width:100%;
	height:auto;
	border:1px solid #ccc;
	padding-bottom:5px;
}
.spec-head{
	width:100%;
	height:50px;
	background:#cd5c57;
	color:#fff;
}
.spec-head p{
	padding:12px 15px;
}
.specs-des ul li{
	list-style:none;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
}
.specs-des ul li img{
	vertical-align:calc(-6px);
}
.kitch{
	margin-top:10px;
	padding:0px 10px;
}
.small-spec ul li{
	border-bottom:0px;
	padding:2px 10px;
}
.choose{
	font-size:16px;
	font-weight:500;
}
.rounded-sec{
	width:100%;
	height:auto;
	border:1px solid #ccc;
	text-align:center;
	padding:5px;
	margin-bottom:20px;
}
.rounded-sec img{
	margin-top:20px;
}
.segments{
	margin-top:20px;
}
.desc-fac{
	margin-top:10px;
	font-size:15px;
	font-weight:500;
	padding-bottom:10px;
}
.acordian{
	margin-top:20px;
}
.inc-padding{
	padding-left:40px;
	padding-right:50px;
}
.map-sec{
	position:absolute;
	left:0;
	top:0;
	width:0%;
	height:100%;
	background:url('../images/pre_loader.gif') no-repeat center center #fff;
	overflow:hidden;
	transition:0.2s;
}
.expand-map{
	width:30%;
}
.side-sec{
	width:100%;
	height:250px;
	background:#f4f4f4;
}
@media only screen  and (min-device-width: 1280px) and  (max-device-width: 1440px) {
	.col-sm-1{
		width:10.33%;
	}
	.col-sm-5{
		width:39.667%;
	}
	.item{
		height:250px;
	}
}
@media  screen  and (min-height: 500px)  and (max-height: 700px) {
	.lognd{
		margin-top:0%;
	}
	.overlay-right, .overlay-left{
		margin-top:12%;
	}
	.logo-fixed{
		width:80%;
		height:80%;
	}
}